.profile
  %h2
    Dane Messall
  %p
    The Designer. Bike commuter, and french press aficionado
  %span.link
    %a{ :href => "http://www.twitter.com/dane_ray" }
      @dane_ray
      
.profile
  %h2
    Jake Dahn
  %p
    The Hacker. Obsessed with clean code, and hopes to one day have a mustache.
  %span.link
    %a{ :href => "http://www.twitter.com/jakedahn" }
      @jakedahn
      
.profile
  %h2
    John Heimkes IV
  %p
    The Frontend. Wrangling design and code together in one pretty package.
  %span.link
    %a{ :href => "http://www.twitter.com/johnheimkes" }
      @johnheimkes
