%div#images
  - @images.each do |image|
    %div.image
      .descriptionWrapper
        .description
          %h3.title
            %a{:href => "./"}= image.title
        
          %p= image.description
      %img{:src => "#{image.url}", :height => 276}
      
          
