!!! strict
%html
  %head
    %meta{:"http-equiv"=>"Content-Type", :content => "text/html; charset=utf-8" }
    %title= @title
    %meta{:name=>"Robots", :content=>"index,all"}
    
    %link{:rel=>"stylesheet", :href=>"/style.css", :media=>"screen"}
    
  %body
    %div#wrapper        
      %div#content
        = @flash
        = yield
      %div#footer
        &copy; 2010 Ang.st
