!!!
%html{ "xml:lang" => "en", :lang => "en" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %title
      MarkupIsArt
    %meta{ :name => "Robots", :content => "index,all" }
    %meta{ :name => "Description", :content => "Markup Is Art" }
    %link{ :href => "/style.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
  %body
    #wrapper
      #header
        %h1
          Markup Is Art.
      #profiles
        = yield
      #footer
