body
  :font-family helvetica, arial, verdana, sans-serif
  :background #333
  :margin 0
  :outline 0


#wrapper
  :width 565px
  :margin 0 auto
  :padding 20px 20px 20px 0


h1 a
  :text-indent -9999px 
  :background url(images/header.png) top left no-repeat
  :width 565px
  :height 100px
  :display block
  :margin-bottom 25px

span#uploadLink
  :background url(images/smallHinge.png) top right no-repeat
  :top 179px
  :right 0
  :position fixed
  :height 50px
  
  a
    :background #E6E6E6
    :display block
    :color #666
    :margin-right 11px
    :padding 11px 15px 10px 15px

a
  :color #fff
  :font-weight bold
  :text-decoration none

  &:hover
    :color #e4e5e4
    :text-decoration underline
  img 
    :border none !important


.image
  :float left
  :margin-bottom 20px
  :padding-left 0

  img
    :padding-top 4px
    :margin-top 9px
    :width 400px

.descriptionWrapper
  :font-family georgia, serif
  :float left
  :width 161px
  :background url(images/hinge.png) top right no-repeat
  :height 290px

  .description
    :float left
    :font-size 12px
    :width 120px
    :font-style italic
    :background #ebebeb
    :padding 0 15px 15px
    :color #868686
    :height 233px
    :border-bottom 1px solid #ccc

  .tweetThis
    :background #D5E9F3
    :display block
    :float left
    :width 130px
    :color #1C60AC
    :font-family "Helvetica Neue", Helvetica, Arial, sans-serif
    :padding 5px 10px
    :text-align center
    
h3
  :float left
  :width 125px

  &.title a
    :color #333
    :text-decoration none
    :font-size 16px

    &:hover
      :color #000



  p
    :float left
    :margin 0


#footer
  :clear both
  :color #444
  :text-shadow #1b1b1b 1px -1px 2px
  :text-align center
  :padding-top 50px
  a
    :color #555
    
#disqus_thread
  :color #e1e1e1
  :margin-top 20px

label
  :display block
  :margin-top 20px
  :color #fff
  :font-weight bold
  :margin-bottom 10px

input, textarea, #uploadForm
  :width 335px
textarea
  :height 150px
input[type=file]
  :color #fff
  :font-style italic
input[type=submit]
  :width 100px
  :float right
fieldset
  :border none

label.error
  :color #fe2500
  :font-size 12px
  :float right
  :margin-top -50px

label[for=description].error
  :margin-top 15px

.flash
  :color red
  :font-weight bold
  :font-size 24px

#about 
  :color #fff

  ul 
    :margin 0
    li  
      :margin-top 5px

#adjustment
  :width 640px
  :height 480px
  :background-position no-repeat top left
#mustache
  :width 284px
  :height 90px
  :text-indent -9999px
  :background url(images/mustaches/1.png)
  
a#save 
  :background rgba(0,0,0,0.5)
  :color #fff
  :font-weight bold
  :text-align center
  :width 620px
  :padding 15px 10px
  :margin-top 342px
  :display block
  :cursor pointer
  &:hover
    :color #e2e2e2
  
  
  
  
  