body
  :font-family helvetica, arial, verdana, sans-serif
  :background #333
  :margin 0


#wrapper
  :width 565px
  :margin 0 auto
  :padding 20px 20px 20px 0


h1 a
  :color #fff
  :font-size 120px
  :margin-top 0px
  :margin-bottom 0
  :text-decoration none !important


label
  :display block
  :margin-top 20px


fieldset
  :border none


#nav
  :float right
  :list-style none
  :margin-top -65px


a
  :color #fff
  :font-weight bold
  :text-decoration none

  &:hover
    :color #e4e5e4
    :text-decoration underline


.image
  :float left
  :margin-bottom 20px
  :padding-left 0

  img
    :padding-top 4px
    :margin-top 9px
    :width 400px


div.vote
  :float left
  :width 161px
  :background url(images/hinge.png) top right no-repeat
  :height 290px


ul.vote
  :list-style none
  :padding 0
  :margin 0


li
  &.up, &.down
    :width 75px
    :height 32px
    :text-indent -9999px
    :float left

  &.up
    :background url(images/voteBtns.png) top left no-repeat

    &.active
      :background-position bottom left

  &.down
    :background url(images/voteBtns.png) top right no-repeat

    &.active
      :background-position bottom right


ul.vote li:hover
  :opacity 0.8


.vote
  :font-family georgia


h3
  :float left

  &.title a
    :color #333
    :text-decoration none
    :font-size 16px

    &:hover
      :color #000


.description
  :float left
  :font-size 12px
  :width 120px
  :font-style italic
  :background #ebebeb
  :padding 0 15px 15px
  :color #868686
  :height 231px
  :border-bottom 1px solid #ccc

  p
    :float left
    :margin 0


#footer
  :clear both
  :color #444
  :text-shadow #1b1b1b 1px -1px 2px
