#upload
  #adjustment
    #mustache
    %a#save= "Save"
    
  %form{:id => "uploadForm", :method => "post", :action => "/up", :enctype => "multipart/form-data"}
    %fieldset
      %label{:for => "tile"}= "Select a file to 'stashify"
      %input{:name => "file", :type => "file", :class => "required"}
      
      %label{:for => "title"}= "Enter the victim's name"
      %input{:name => "title", :type => "text", :class => "required"}
      
      %label{:for => "description"}= "Ramble on for 140 characters or something..."
      %textarea{:name => "description", :maxlength => "140"}
      
      %input{:type => "submit", :value => "Mustachify!"}
    